<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sundayleague.main.dao.AdminMapper">
	<select id="selectPlayerList" parameterType="map" resultType="PlayerDTO">
		SELECT
			player_id
			, team_name
			, password
			, email
			, name
			, position
			, subposition
			, height
			, weight
			, birth
			, player_comment
			, mainfoot
			, withdrawal_flag
			, authority
		FROM player
		WHERE withdrawal_flag = '1'
			<if test="searchItem != null">
   			AND ${searchItem} like '%' || #{searchWord} || '%'
   			</if>
	</select>
	
	<select id="selectTeamList" resultType="TeamDTO">
		SELECT
			team_name
			, victory
			, defeat
			, draw
			, rating
			, established
			, nvl((select
		            count(*)
		        from
		            player
		        group by
		            team_name
		        having
		            player.team_name = team.team_name), 0) as headcount
			, team_comment
			, region
			, deleted_flag
			, accpet_flag
		FROM team
		WHERE deleted_flag = '1'
		<if test="searchItem != null">
   		AND ${searchItem} like '%' || #{searchWord} || '%'
   		</if>
	</select>
	
	<select id="selectPlayerCount" parameterType="map" resultType="int">
		SELECT count(*)
		FROM player
		<if test="searchItem != null">
		WHERE ${searchItem} like '%' || #{searchWord} || '%'
		</if>
	</select>
	
	<select id="selectTeamCount" parameterType="map" resultType="int">
		SELECT count(*)
		FROM team
		<if test="searchItem != null">
		WHERE ${searchItem} like '%' || #{searchWord} || '%'
		</if>
	</select>
	
	<select id="selectPlayer" parameterType="String" resultType="PlayerDTO">
		SELECT
			player_id
			, team_name
			, password
			, email
			, name
			, position
			, subposition
			, height
			, weight
			, birth
			, player_comment
			, mainfoot
			, withdrawal_flag
			, authority
		FROM player
		WHERE player_id = #{player_id}   		
	</select>
	
	<update id="updatePlayerDelete" parameterType="String">
		UPDATE player
		SET
			withdrawal_flag = '0'
			, team_name = null
		WHERE player_id=#{player_id}
	</update>
	
	<select id="selectTeam" parameterType="String" resultType="TeamDTO">
		SELECT
			team_name
			, victory
			, defeat
			, draw
			, rating
			, established
			, headcount
			, team_comment
			, region
			, deleted_flag
			, accpet_flag
		FROM team
		WHERE team_name = #{team_name}
	</select>
	
	<select id="selectTeamMember" parameterType="String" resultType="PlayerDTO">
		SELECT
			player_id
			, team_name
			, password
			, email
			, name
			, position
			, subposition
			, height
			, weight
			, birth
			, player_comment
			, mainfoot
			, withdrawal_flag
			, authority
		FROM player
		WHERE team_name = #{team_name}
		order by authority desc
	</select>
	
	<select id="allContact" resultType="ContactDTO">
	select * from contact where complete='0' order by contact_no asc
	</select>
	
	<select id="findMail" resultType="String" parameterType="String">
	select contact_email from contact where contact_no= #{contact_no}
	</select>
	
	<update id="updateMail" parameterType="String">
	update contact set complete = '1' where contact_no = #{contact_no}
	</update>
	
	
</mapper>