<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sundayleague.main.dao.AdminMapper">
	<select id="selectPlayerList" resultType="PlayerDTO">
		SELECT
			player_id
			, team_name
			, password
			, email
			, name
			, position
			, subposition
			, height
			, weight
			, birth
			, player_comment
			, mainfoot
			, withdrawal_flag
			, authority
		FROM player
	</select>
	
	<select id="selectTeamList" resultType="TeamDTO">
		SELECT
			team_name
			, victory
			, defeat
			, draw
			, rating
			, established
			, headcount
			, team_comment
			, region
			, deleted_flag
			, accpet_flag
		FROM team
	</select>
</mapper>