<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sundayleague.main.dao.MemberMapper">
	<insert id="insertPlayer" parameterType="PlayerDTO">
		insert into player
		(
			player_id
			,password
			,email
			,name
			,position
			,subposition
			,height
			,weight
			,birth
			,mainfoot
			,player_comment
		)
		values
		(
			#{player_id}
			,#{password}
			,#{email}
			,#{name}
			,#{position}
			,#{subposition}
			,#{height}
			,#{weight}
			,#{birth}
			,#{mainfoot}
			,#{player_comment}
		)
	</insert>
	<select id="selectOne" parameterType="PlayerDTO" resultType="PlayerDTO" >
		select
			player_id
			,team_name
			,password
			,email
			,name
			,position
			,subposition
			,height
			,weight
			,birth
			,mainfoot
			,player_comment
			,withdrawal_flag
			,authority
		from 
			player
		where
			player_id =#{player_id}
			and password=#{password}
	</select>
	
	<select id="selectProfile" parameterType="String" resultType="PlayerDTO">
				select
			player_id
			,team_name
			,password
			,email
			,name
			,position
			,subposition
			,height
			,weight
			,to_char(birth, 'YYYY-MM-DD') as birth
			,mainfoot
			,player_comment
			,withdrawal_flag
			,authority
		from 
			player
		where
			player_id = #{loginId}
	</select>
	
	<update id="updateProfile" parameterType="String" >
			
			update Player
			
			set
			 
			password =#{password}
			,email =#{email}
			,name =#{name}
			,position =#{position}
			,subposition =#{subposition}
			,height =#{height}
			,weight =#{weight}
			,birth =#{birth}
			,mainfoot =#{mainfoot}
			,player_comment =#{player_comment}
			
			where player_id = #{loginId}			
	</update>
</mapper>