<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sundayleague.main.dao.MemberMapper">
	<insert id="insertPlayer" parameterType="PlayerDTO">
		insert into player
		(
			player_id
			,password
			,email
			,name
			,position
			,subposition
			,height
			,weight
			,birth
			,mainfoot
			,player_comment
		)
		values
		(
			#{player_id}
			,#{password}
			,#{email}
			,#{name}
			,#{position}
			,#{subposition}
			,#{height}
			,#{weight}
			,#{birth}
			,#{mainfoot}
			,#{player_comment}
		)
	</insert>
	<select id="selectOne" parameterType="PlayerDTO" resultType="PlayerDTO" >
		select
			player_id
			,team_name
			,password
			,email
			,name
			,position
			,subposition
			,height
			,weight
			,birth
			,mainfoot
			,player_comment
			,withdrawal_flag
			,authority
		from 
			player
		where
			player_id =#{player_id}
			and password=#{password}
	</select>
	
	<select id="selectProfile" parameterType="String" resultType="PlayerDTO">
		select
			player_id
			,team_name
			,password
			,email
			,name
			,position
			,subposition
			,height
			,weight
			,to_char(birth, 'YYYY-MM-DD') as birth
			,mainfoot
			,player_comment
			,withdrawal_flag
			,authority
		from 
			player
		where
			player_id = #{loginId}
	</select>
	
	<update id="updateProfile" parameterType="PlayerDTO" >
			update
				player
			set
			<choose>
				<when test="team_name != null">
					<if test="team_name != 'nn'">
					team_name = #{team_name}
					</if>
					<if test="team_name == 'nn'">
					team_name = null
					</if>
				</when>
				<when test="authority != null">
					authority = #{authority}
				</when>
				<otherwise>
					email =#{email}
					,name =#{name}
					,position =#{position}
					,subposition =#{subposition}
					,height =#{height}
					,weight =#{weight}
					,birth =#{birth}
					,mainfoot =#{mainfoot}
					,player_comment =#{player_comment}
				</otherwise>
			</choose>
			where
				player_id = #{player_id}
	</update>
	
	<select id="selectId" parameterType="PlayerDTO" resultType="String">
			Select player_id
			From player
			Where name = #{name} AND email = #{email}
	</select>
	
	<select id="selectPw" parameterType="PlayerDTO" resultType="String">
			Select password
			From player
			Where player_id = #{player_id} AND email = #{email}
	</select>	
</mapper>