<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundayleague.main.dao.TeamMapper">
	<update id="insertTeam" parameterType="map" statementType="CALLABLE">
		{call sp_insert_team(
		#{team.team_name},
		#{team.team_comment},
		#{team.region},
		#{id}
		)
		}
	</update>
	
	<!-- Myteam Team select구문 -->
	<select id="selectTeam" resultType="TeamDTO" parameterType="String">
	select * from team where team_name = #{team_name}
	
	</select>
	<!-- Myteam Player List select구문 -->
	<select id="selectTeam2" resultType="PlayerDTO" parameterType="String">
	select * from player where team_name = #{team_name}
	
	</select>
</mapper>