<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sundayleague.main.dto.PlayerDTO" alias="PlayerDTO"/>
		<typeAlias type="com.sundayleague.main.dto.TeamDTO" alias="TeamDTO"/>
		<typeAlias type="com.sundayleague.main.dto.TeamMatchingDTO" alias="TeamMatchingDTO"/>
		<typeAlias type="com.sundayleague.main.dto.ContactDTO" alias="ContactDTO"/>
		<typeAlias type="com.sundayleague.main.dto.MatchDTO" alias="MatchDTO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/MemberMapper.xml" />
		<mapper resource="mappers/TeamMapper.xml" />
		<mapper resource="mappers/AdminMapper.xml" />
		<mapper resource="mappers/MatchMapper.xml" />
	</mappers>
</configuration>